/* BODY */

html,body{
  height:100vh;
  margin:0;
  padding:0;
  font-family: 'Acme', sans-serif;
  font-size: 2vh; 
  background-color: #323639;
  color: white;

}

body {
  position: relative;

}

.windowBox {
  min-height: 600px;
  max-height: 600px;
  max-width: 100vh;
  margin: 0 300px;
  
}

/* NAV BAR */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

// RESHUFFLE

  #shuffle {
    position: relative;
    width: 90%;
    max-width: 80px;
    margin: auto;
  
    header {
      position: relative;
      padding: 16px;
      height: 25px;
      margin: 4px 0;
  
  
    }
    .list-item {
      position: relative;
      margin: 0 6px 12px 6px;
      height: 2vh; 
      padding: 16px;
      list-style-type: none;
  
      &:hover button {
        display: block;
      }
  
      &.list {
        display: block;
  
        button {
          top: 0;
          right: 10px;
          bottom: 0;
          margin: auto;
          width: 52px;
          height: 52px;
          border: 0;
          border-radius: 4px;
          color: white;
          font-size: 80px;
        }
      }
  
      &.grid {
        display: inline-block;
  
        button {
          top: 0;
          right: 0;
          font-size: 14px;
          background: transparent;
          border: 0;
        }
      }
  
      button {
        display: none;
        position: absolute;
      }
    }
  }


.lgBox {
  position: relative; 
  float: left;
}

.dvBox {
  width: 30vw;
  position: relative; 
  float: left; 
}

.dvContainer {
  position: absolute;
  min-width: 100vw;
}
  





// ConceptMap

svg {
  font: 12px sans-serif; 
}

text {
  pointer-events: none;
  color:white;
}

.inner_node rect {
  pointer-events: all;
  color: white;
}

.inner_node rect.highlight {
  stroke: #315B7E;
  stroke-width: 2px;
  color:white;
}

.outer_node circle {
  fill: #282F2E;
  stroke: black;
  stroke-width: 1.5px;
  pointer-events: all;
  color: white; 
}

.outer_node circle.highlight
{
  stroke: #315B7E;
  stroke-width: 2px;
  color: white; 
}

.link {
  fill: none;
}

