#ATL{
    background-color: #E03A3E;
    border-color: #C1D32F;
    border-width: 2px
}
#BOS{
    background-color: #007A33;
    border-color: #BA9653;
    border-width: 2px
}
#BRK{
    background-color: #000000;
    border-color: #FFFFFF;
    border-width: 2px
}
#CHO{
    background-color: #1D1160;
    border-color: #00788C;
    border-width: 2px
}
#CHI{
    background-color: #CE1141;
    border-color: #000000;
    border-width: 2px
}
#CLE{
    background-color: #6F263D;
    border-color: #041E42;
    border-width: 2px
}
#DAL{
    background-color: #00538C;
    border-color: #002B5E;
    border-width: 2px
}
#DEN{
    background-color: #0E2240;
    border-color: #FEC524;
    border-width: 2px
}
#DET{
    background-color: #C8102E;
    border-color: #006BB6;
    border-width: 2px
}
#GSW{
    background-color: #006BB6;
    border-color: #FDB927;
    border-width: 2px
}
#HOU{
    background-color: #CE1141;
    border-color: #000000;
    border-width: 2px
}
#IND{
    background-color: #002D62;
    border-color: #FDBB30;
    border-width: 2px
}
#LAC{
    background-color: #C8102E;
    border-color: #1D428A;
    border-width: 2px
}
#LAL{
    background-color: #552583;
    border-color: #FDB927;
    border-width: 2px
}
#MEM{
    background-color: #5D76A9;
    border-color: #12173F;
    border-width: 2px
}
#MIA{
    background-color: #98002E;
    border-color: #F9A01B;
    border-width: 2px
}
#MIL{
    background-color: #00471B;
    border-color: #EEE1C6;
    border-width: 2px
}
#MIN{
    background-color: #0C2340;
    border-color: #236192;
    border-width: 2px
}
#NOP{
    background-color: #0C2340;
    border-color: #C8102E;
    border-width: 2px
}
#NYK{
    background-color: #006BB6;
    border-color: #F58426;
    border-width: 2px
}
#OKC{
    background-color: #007AC1;
    border-color: #EF3B24;
    border-width: 2px
}
#ORL{
    background-color: #0077C0;
    border-color: #C4CED4;
    border-width: 2px
}
#PHI{
    background-color: #006BB6;
    border-color: #ED174C;
    border-width: 2px
}
#PHO{
    background-color: #1D1160;
    border-color: #E56020;
    border-width: 2px
}
#POR{
    background-color: #E03A3E;
    border-color: #000000;
    border-width: 2px
}
#SAC{
    background-color: #5A2D81;
    border-color: #63727A;
    border-width: 2px
}
#SAS{
    background-color: #C4CED4;
    border-color: #000000;
    border-width: 2px;
    color: black;
}
#TOR{
    background-color: #CE1141;
    border-color: #000000;
    border-width: 2px
}
#UTA{
    background-color: #002B5C;
    border-color: #00471B;
    border-width: 2px
}
#WAS{
    background-color: #002B5C;
    border-color: #E31837;
    border-width: 2px
}
